.App {/*
  font-family: 'Roboto';*/
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  background: #27323E;
  color: white;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.container-app {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.heading {
  text-align: center;
  padding-top: 2rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.container-app  img {
  margin: 0 1rem;
  width: 50%;
  height: 400px;
  border-radius: 50%;
  box-shadow: rgba(17, 20, 55, 0.3) 0px 30px 50px 5px;
  margin-right: 30px;
}


@media only screen and (max-width: 650px) {
  .container-app {
    flex-direction: column;
  }
  .container-app  img {
    width: 80%;
    margin: 2% 8% 0 9%;
  }
}
/*
.check {
  background-color: red;
  border-radius: 5px; 
}*/

