.App {
  color: white;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.main-container { 
  background: #27323E;  
  max-width: 1400px;
  margin: 0 auto;
}

.container-app {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 50px  0;
}
.heading {
  font-size: 2.2rem;
  text-align: center;
  padding-top: 2rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.container-app  img {
  margin: 0 1rem;
  width: 50%;
  height: 350px;
  border-radius: 12%;
  box-shadow: rgba(17, 20, 55, 0.3) 0px 30px 50px 5px;
  margin-right: 30px;
}


@media only screen and (max-width: 650px) {
  .container-app {
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .container-app  img {
    width: 80%;
    border-radius: 20%;
    margin: 5% 10% 0 15%;
  }
}


