.skill_card  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill_card img {
  border-bottom: 2px solid gold;
  max-width: 210px;
  max-height: 280px;
}
.skill_card a {
  text-decoration: none;
  color: white;
}