.education {
/*  max-width: 100%;*/
  display: flex;
  flex-direction: row} 

.education span {
  font-weight: 600;
  font-size: 1.25rem;
}

.college_image img{
  height: 200px;
}
.education_time  {
  padding: 4rem 0;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.institute_name {
  margin-top: 2rem;
}

.details {
  margin: 50px 20px;
}

@media only screen and (max-width: 925px) {
  .education {
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    padding-bottom: 2rem;*/
  }
  .education_time {
    writing-mode: horizontal-tb;
/*    padding: 50px 0;*/
  }
 }